#!include:.gitignore
.gcloudignore
.git
.gitignore

# Node.js dependencies:
node_modules/

# Include config.ts - which is excluded in gitignore 
!config.ts

# exclude frontend build directory
frontend/build/*
